.panel{
  margin: 150px 150px;
}

.panel-content{
  margin-top: 10px;
}

.panel .content-label{
  width: 35%;
}

.panel .content-data{
  width: 48%;
}

.panel .content-data-email{
  width: 62%;
}

.modal-content {
  background: linear-gradient(#05ba00,#06d500);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.23), -1px -1px 3px rgba(0, 0, 0, 0.23);
  padding: 10px 20px;
  border-radius: 20px;
  position: relative;
  padding-right: 40px;
}
