.panel{
  margin: 150px 150px;
}

.panel-content{
  margin-top: 10px;
}

.panel .content-label{
  width: 35%;
}

.panel .content-data{
  width: 50%;
}

.panel .content-data-email{
  width: 65%;
}

input{
  width: 85%;
  color: #666666
}
