.panel-title{
  margin-bottom: 30px;
}

.panel{
  margin-top: 100px;
}

.form-b{
  margin-top: 50px;
}


@media (max-width: 1366px) {
  .panel-title{
    margin-bottom: 20px;
  }
  .panel{
    margin-top: 50px;
  }
  .form-b{
    margin-top: 20px;
  }
}

.modal-content-success {
  background: linear-gradient(#05ba00,#06d500);
}