.panel {
  margin: 30px 0px;
}

.panel-content {
  margin-top: 10px;
}

.panel .content-label {
  width: 35%;
}

input {
  text-indent: 0px;
  width: 23%;
}

.button-yolculuk {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  width: 100%;
  background:none;
  background-color: #ffffff;
  font-weight:400;
}

.button-yolculuk:hover{
  background:none;
  background-color: rgb(245, 245, 245);
}

.aciklamalar {
  width: 100%;
}

.tarih {
  text-align: center;
  width: 20%;
  display: inline-block;
}

.kalis-varis {
  text-align: center;
  width: 37%;
  display: inline-block
}

.mesafe {
  text-align: center;
  width: 10%;
  display: inline-block
}

.fiyat {
  text-align: center;
  width: 10%;
  display: inline-block;
}

.il {
  text-align: center;
  width: 18%;
  display: inline-block
}

.hr {
  color: white;
  border: 1px solid white;
  outline: none;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), -1px -1px 3px rgba(0, 0, 0, 0.2);
}

.card-detail {
  width: inherit
}

.filtre-ad {
  width: 23%;
  display: inline-block;
  margin-right: 22px
}

.yolculuk-aciklama-success{
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1), -1px -1px 3px rgba(0, 0, 0, 0.1);
  text-indent: 14px;
  margin-top: 7px;
  margin-bottom: 10px;
  color: #ffffff;
  background:linear-gradient(to right,#52c234,#40c032,#52c234);
  border-radius: 20px;
  padding: 5px 0;
}

.yolculuk-aciklama-failed{
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1), -1px -1px 3px rgba(0, 0, 0, 0.1);
  text-indent: 14px;
  margin-top: 7px;
  margin-bottom: 10px;
  color: #ffffff;
  background-color: #fd7474;
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
  border-radius: 20px;
  padding: 5px 0;
}


.modal-content-success {
  background:linear-gradient(to right,#52c234,#40c032,#52c234);
}

.toplam-bilgileri{
  margin-top:20px;
}