@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu');
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

input, button, select, option {
  font: inherit;
}

input, select {
  width: 90%;
  padding: 5px 0;
  margin: 0;
  border: none;
  background-color: #f0f0f0;
  border-radius: 2px;
  text-indent: 7px;
}

input:focus {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7), -1px -1px 3px rgba(0, 0, 0, 0.7);
  outline: none;
}

.input-req {
  margin-left: 5px;
  margin-right: 5px;
  color: rgb(255, 82, 82);
}

.input-req-fail {
  visibility: visible;
}

.input-req-success {
  visibility: hidden;
}

.display-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-content-between {
  align-content: space-between;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-center {
  align-self: center;
}

form{
  position: relative;
}

body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  background: linear-gradient(rgb(206, 237, 255), rgb(255, 205, 205));
  background-repeat: space;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 12pt;
}

.karsilama {
  text-align: center;
  margin-top: 30%;
  font-size: 40pt
}

.karsilama .buyuk {
  font-size: 60pt;
}

.karsilama .kucuk {
  margin-top: 10px;
  font-size: 20pt;
}

.modal {
  width: fit-content;
  color: #ffffff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  display: none;
  position: sticky;
  float: right;
  top: 10px;
  right:20px;
}

.modal-content {
  background: linear-gradient(rgb(218, 94, 85), rgb(255, 127, 105));
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.23), -1px -1px 3px rgba(0, 0, 0, 0.23);
  padding: 10px 20px;
  border-radius: 20px;
  position: relative;
  padding-right: 40px;
}

.btn-modal-close {
  position: absolute;
  right: 12px;
  cursor: pointer;
}

.h1 {
  font-size: 35pt;
  padding-top: 10px;
  padding-bottom: 3px;
}

.bar {
  background: linear-gradient(rgb(0, 111, 175), rgb(0, 153, 224));
  margin-top: 10px;
  padding: 6px;
  border-radius: 18px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.23), -1px -1px 3px rgba(0, 0, 0, 0.23);
}

.bar .button {
  font-size: 12pt;
}

.panel {
  border-radius: 10px;
  background-color: #ffffff;
  background: linear-gradient(rgb(0, 111, 175), rgb(0, 153, 224));
  color: #ffffff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  padding: 15px;
  margin: 50px 200px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.23), -1px -1px 3px rgba(0, 0, 0, 0.23);
}

.panel .button {
  text-shadow: none;
  color: black;
}

.panel-title {
  font-size: 20pt;
}

.form-l-i {
  margin-top: 15px;
}

.form-b {
  margin-top: 35px;
}

.form-l-i div {
  margin: 5px;
}

.button {
  background: linear-gradient(rgb(221, 221, 221), rgb(240, 240, 240));
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  margin-left: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1), -1px -1px 3px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background: linear-gradient(rgb(236, 236, 236), rgb(255, 255, 255));
}

.button:active {
  background: linear-gradient(rgb(199, 199, 199), rgb(182, 182, 182));
}

.vibrate {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% {
    transform: translate(4px, 0);
  }
  10% {
    transform: translate(-4px, 0);
  }
  20% {
    transform: translate(0px, 0);
  }
  30% {
    transform: translate(4px, 0);
  }
  40% {
    transform: translate(-4px, 0);
  }
  50% {
    transform: translate(0px, 0);
  }
  60% {
    transform: translate(4px, 0);
  }
  70% {
    transform: translate(-4px, 0);
  }
  80% {
    transform: translate(0px, 0);
  }
  90% {
    transform: translate(4px, 0);
  }
  100% {
    transform: translate(-4px, 0);
  }
}

.wrapper {
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 30px;
  border-radius: 20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.23), -1px -1px 3px rgba(0, 0, 0, 0.23);
  min-height: 816px;
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 700px;
}

@media (max-width: 1366px) {
  .wrapper {
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.23), -1px -1px 3px rgba(0, 0, 0, 0.23);
    min-height: 579px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .wrapper-windows{
    min-height: 597px;
  }
  .karsilama {
    text-align: center;
    margin-top: 10%;
    font-size: 40pt
  }
}