.panel{
  margin: 50px 180px;
}

.panel-content{
  margin-top: 10px;
}

.panel .content-label{
  width: 35%;
}

.panel .content-data{
  width: 65%;
}

.panel .content-data-email{
  width: 62%;
}

#tarih{
  width: 50%;
}

#kalkis,#varis,#il{
  width: 70%;
}

#mesafe,#fiyat{
  width: 40%;
}

