.panel {
  margin: 50px 10px;
}

.panel-content {
  margin-top: 10px;
}

.panel .content-label {
  width: 35%;
}

input {
  text-indent: 0px;
  width: 23%;
}

.button-yolculuk {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  width: 100%;
  background:none;
  background-color: white;
}

.button-yolculuk:hover{
  background:none;
  background-color: rgb(228, 228, 228);
}

.aciklamalar {
  width: 100%;
}

.tarih {
  text-align: center;
  width: 20%;
  display: inline-block;
}

.kalis-varis {
  text-align: center;
  width: 37%;
  display: inline-block
}

.mesafe {
  text-align: center;
  width: 10%;
  display: inline-block
}

.fiyat {
  text-align: center;
  width: 10%;
  display: inline-block;
}

.il {
  text-align: center;
  width: 18%;
  display: inline-block
}

.hr {
  color: white;
  border: 1px solid white;
  outline: none;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), -1px -1px 3px rgba(0, 0, 0, 0.2);
}

.card-detail {
  width: inherit
}

.filtre-ad {
  width: 23%;
  display: inline-block;
  margin-right: 22px
}


